<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments::head (title='Books')}">
    <meta charset="UTF-8">
    <title>Thymeleaf Tutorial</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header th:replace="~{fragments::header}"></header>

<main>

    <h1 th:text="#{books}">Books</h1>
    <ul>
        <li th:each="book : ${books}">
            <span th:text="${book.getTitle() + ' - ' + book.getIsbn()}">Book titles </span>
            <span sec:authorize-expr="authenticated">
            <a th:href="@{/update/{bookId}(bookId=${book.getId()})}">Edit</a>
            <button th:onclick="'deleteBook('+ ${book.getId()} +')'">Delete</button>
            <a th:href="@{/delete/{bookId}(bookId=${book.getId()})}">Force delete</a>
            </span>
            <br>
            <img class="cover-image" th:src="@{/cover/{bookId}(bookId=${book.getId()})}" alt="Cover Image">
        </li>
    </ul>
</main>

<footer th:insert="~{fragments :: footer}"></footer>

<script>
    function deleteBook(id) {
        if (confirm("Are you sure to delete this book?")){
            fetch('/delete/'+id,{
                method: 'DELETE'
            }).then(reloadLocation)
        }
    }

    function reloadLocation() {
        window.location.reload();
    }
</script>
</body>
</html>