<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Tutorial</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1 th:text="#{hello}">Main Page</h1>
<p th:text="${word}">Any text that got from Model</p>

<input type="text" name="name" id="name" value="testvalue" th:value="${word}">

<ul>
    <li th:each="book : ${books}" th:text="${book.getTitle() + ' - ' + book.getIsbn()}">Book titles</li>
</ul>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur dolore enim facilis, illo impedit iusto laudantium libero, modi non numquam pariatur quia reprehenderit rerum similique sint tempora temporibus vitae.</p>
</body>
</html>