<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">
</head>
<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <a th:href="@{/login}"><h2 class="inactive underlineHover">Sign In </h2></a>
        <h2 class="active"> Sign Up </h2>

        <!-- Icon -->
        <div class="fadeIn first">
            <a href="/" th:href="@{/}">
                <img src="../static/img/logo.png" th:src="@{/img/logo.png}" id="icon" alt="User Icon" />
            </a>
        </div>

        <!-- Login Form -->
        <form method="post" th:object="${user}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <label><input type="text" id="login" class="fadeIn first" name="username" th:field="*{username}" placeholder="username"></label>
            <span th:if="${usernameExists}" th:text="${usernameExists}"></span>
            <label><input type="password" id="password" class="fadeIn third" name="password" th:field="*{password}" placeholder="password"></label>
            <label><input type="password" id="password2" class="fadeIn third" name="password2" placeholder="Re-type password"></label>
            <span th:if="${msg}" th:text="${msg}">Password error</span>
            <label><input type="text" id="firstName" class="fadeIn fourth" name="firstName" th:field="*{firstName}" placeholder="Firstname"></label>
            <label><input type="text" id="lastName" class="fadeIn fourth" name="lastName" th:field="*{lastName}" placeholder="Lastname"></label>
            <input type="submit" class="fadeIn fourth" value="Sign up">
        </form>

        <div id="formFooter">
            Already have an account? <a class="underlineHover" href="#" th:href="@{/login}">Sign in</a>
        </div>

    </div>
</div>
</body>
</html>
